openapi: 3.2.0
info:
  title: Utilita Status Components API
  version: '2'
  summary: Public, anonymous read API for Utilita Energy service status, components, incidents and scheduled maintenance.
  description: 'Utilita Energy publishes a public status page at https://status.utilita.co.uk/ running on Atlassian Statuspage, and that page exposes the standard Statuspage v2 read API on the Utilita domain. It is the only public, anonymous, machine-readable API surface API Evangelist has been able to verify for Utilita: it returns the live operational state of Utilita''s own components — SMETS1 / SMETS1 (DCC Enrolled) / SMETS2 smart meters, Guest Payments, PayPoint and PayZone in-store payments, the PayPoint IVR top-up line, Open Banking, My Utilita (app and web portal), Power-up functionality, utilita.co.uk, join.utilita.co.uk, the Contact Centre, telephone lines, the chatbot, smart meter installations and the smart metering network.

    PROVENANCE — this document was GENERATED by API Evangelist from live anonymous probes of the eight endpoints Utilita''s own API documentation page (https://status.utilita.co.uk/api) lists. Utilita does not publish an OpenAPI document. Every path, response shape and example below was observed on 2026-07-27; each operation carries an `x-evidence` block recording the URL probed, the HTTP status returned and the date. No operation, parameter or field has been invented — the API is read-only and has no documented request parameters.'
  contact:
    name: Utilita Help
    url: https://utilita.co.uk/help
  license:
    name: Not published
    url: https://www.atlassian.com/legal/product-specific-terms#statuspage-specific-terms
  x-platform: Atlassian Statuspage
  x-status-page-id: lgm23svnh0xr
  x-generated-by: API Evangelist enrichment pipeline (live endpoint observation)
  x-generated-on: '2026-07-27'
  x-documentation: https://status.utilita.co.uk/api
servers:
- url: https://status.utilita.co.uk/api/v2
  description: Production — public, anonymous, no authentication required
security: []
tags:
- name: Components
  description: The individual Utilita services tracked on the status page.
paths:
  /components.json:
    get:
      operationId: getComponents
      summary: List components
      description: Returns every component tracked on the Utilita status page, including group components (Payments, My Utilita, Websites, Contact Centre) and their children, each with its current status.
      tags:
      - Components
      security: []
      responses:
        '200':
          description: All components on the page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      x-evidence:
        url: https://status.utilita.co.uk/api/v2/components.json
        http_status: 200
        content_type: application/json; charset=utf-8
        probed: '2026-07-27'
        example: examples/utilita-status-components.json
components:
  responses:
    NotFound:
      description: The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            errors:
            - The requested resource could not be found.
  schemas:
    Component:
      type: object
      description: A single Utilita service tracked on the status page.
      properties:
        id:
          type: string
          example: y54fk6gsgfjr
        name:
          type: string
          example: SMETS1 Smart Meters
        description:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
          example: operational
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        position:
          type: integer
        page_id:
          type: string
        group:
          type: boolean
          description: True when this component is a group containing other components.
        group_id:
          type:
          - string
          - 'null'
          description: Identifier of the parent group component, when this component belongs to one.
        only_show_if_degraded:
          type: boolean
        showcase:
          type: boolean
        start_date:
          type:
          - string
          - 'null'
          format: date
      required:
      - id
      - name
      - status
    ComponentsResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
      required:
      - page
      - components
    Page:
      type: object
      description: Identity of the Utilita status page the response came from.
      properties:
        id:
          type: string
          description: Statuspage page identifier.
          example: lgm23svnh0xr
        name:
          type: string
          example: Utilita Status Page
        url:
          type: string
          format: uri
          example: https://status.utilita.co.uk
        time_zone:
          type: string
          example: Europe/London
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
    Error:
      type: object
      description: Error envelope observed on this API. Not RFC 9457 problem+json — a plain JSON object with an `errors` array of human-readable strings, served as application/json.
      properties:
        errors:
          type: array
          items:
            type: string
      required:
      - errors
externalDocs:
  description: Utilita Status Page API documentation (published by Utilita on its status page)
  url: https://status.utilita.co.uk/api
